<main>
    <p><h2>Shophome</h2></p>
    <div class="card mb-5">
        
       

        <div> {{#with newsBlock}}
           <div class="display-6 text-center my-3 mb-3 ">{{title}}</div>
                <section class="col-12 ps-3 mb-4"> 
                <div class="row col-12 g-3">
                {{#each cards}}
             
                <div class="col-3"> 
                     <div class="card text-bg-dark">
                        <div class="card-body">
              
                            <div class="card-header"> {{title}}
                                <div>
                                {{#if isTop}}<span class="badge text-bg-success"> Top</span>{{/if}}
                                {{#if isNew}}<span class="badge text-bg-danger"> New </span> {{/if}}
                                </div>      
                            </div>

                            <div><q> {{description}}</q></div>            
                        </div>
                    </div>
                </div>
               {{/each}} {{!-- newsBlock --}}   
                </div>
                </section>
        {{/with}}
        </div>
</div>
        <br>
 
    <div>
    {{#with goodsBlock}}
        <div class="nav nav-tabs mb-5">       
            {{#each tabs}}
                <div class="nav-item">
                    <div class="nav-link
                    {{#if isActive}} active {{/if}}
                    {{#if isDisabled}}disabled{{/if}}">
                    {{text}}   </div>
                    
                </div> 
            {{/each}}
        </div>
        </div>
<hr>
<br>   
        <div class="row g-3">
         {{#each cards}}
                <div class="col-4"> 
                     <div>{{> shopcard}}</div>
                </div>               
            {{/each}}           
        </div>
    {{/with}}
      <br>
      <hr>
      <br>

  <div> {{#with subscribe}} 
        <div class="card text-bg-dark">
            <div class="card-header ms-4"><h2>{{header}} </h2>
            <p class="ms-1"> <q>{{description}}</q></p></div>
          <div> {{#each buttons}}   
                  <div> 
                   <button class="btn btn-primary mt-4 ms-5  mb-4" href="{{link}}"><h5> {{text}}</h5> </button>
    
             </div> 
          {{/each}}
         </div>
    {{/with}}
     </div>   
     <hr>
     <br>

      <div>  {{> shopaction}} </div> 
       <br>  
<hr>
<br>

    
       
</main>
   
 