<main>


    <div> {{#with page_header}}
        <div class="text-center"><h1>{{title}}</h1></div>
        <p class="text-uppercase text-center"><q>{{description}}</q></p>
    {{/with}}
    </div>
    
    <div>{{#with section}}
        
            <div class="card">
            <div class="card-body">
                    <div class="display-6 text-end"> About us</div>
                    <div>{{#with about_us}}
                         <div>{{#with title_list}}
                            <div class="text-end"><h2>{{main}}</h2></div>
                            <div class="text-end"><q>{{sub}}</q></div>
                            {{/with}}
                         </div>
                         <button class="btn btn-outline-info">Show more</button>
                        {{/with}}
                    </div>
            </div>
            </div>


            <br>
            <div class="card">
            <div class="card-body">
                <div class="display-5"> Advantage</div> <div>{{#with advantage}}

            <div class="card">
            <div class="card-body">
                    <div class="display-4"> Efficiency </div><div>{{#with efficiency}}
                        <br>
                        <div><h6> {{title}}</h6></div>
                        <br>
                        <div>{{sub_title}}</div>
                        <br>
                        <div><q>{{description}}</q></div>
                        <br>
                        <button class="btn btn-outline-warning">{{button}}</button>
                        {{/with}}
                    </div>
            </div>
            </div> 
            <br>
            <div class="card">
            <div class="card-body">
                    <div class="display-4 text-center"> Innovation </div><div>{{#with innovation}}
                        <br>
                        <div class="text-center"><h6> {{title}}</h6></div>
                        <br>
                        <div class="text-center">{{sub_title}}</div>
                        <br>
                        <div class="text-center"><q>{{description}}</q></div>
                        <br>
                        <button class="btn btn-outline-warning">{{button}}</button>
                        {{/with}}
                    </div>
            </div>
            </div> 
            <br>
            <div class="card">
            <div class="card-body">
                    <div class="display-4 text-end"> Collaboration </div><div>{{#with collaboration}}
                        <br>
                        <div class="text-end"><h6> {{title}}</h6></div>
                        <br>
                        <div class="text-end">{{sub_title}}</div>
                        <br>
                        <div class="text-end"><q>{{description}}</q></div>
                        <br>
                        <button class="btn btn-outline-warning">{{button}}</button>
                        {{/with}}
                    </div>
            </div>
            </div> 

                    {{/with}}
                </div>
            </div>
            </div>

            <br>
            <div class="card">
            <div class="card-body">
            <div class="display-5"> Agreement </div> <div>{{#with agreement}}
                    
                    <div class="card"> 
                    <div class="card-body">
                    <div><h4>{{title}}</h4></div>

                        <div class="card"> 
                        <div class="card-body">
                        <div>{{#with info}}
                             <div><h5>{{sub_title}}</h5></div>

                             <div class="card">
                                <div class="card-body">
                                    <div>{{#with detail}}
                                      <div><q> {{text}}</q></div>
                                      <button class="btn btn-success"> {{button}}</button>

                                    {{/with}}
                                    </div>
                                </div>
                             </div>

                        {{/with}}
                        </div>
                        </div>
                        </div>



                    </div>
                    </div>
    
            {{/with}}
            </div>
            </div>
            </div>



        {{/with}}       
    </div>
 
</main>  