<main>
  <div>
      <div>{{#with navigation}}  

        <div> {{#each links}} 
        <a class="btn btn-link" href="{{href}}">{{text}}</a>
        {{/each}}
         
         {{#with button}} 
          <a class="btn btn-primary" href="{{href}}">{{text}}</a>
          {{/with}}
        </div>
            
        {{/with}} {{!-- navigation --}}
        </div>       
        <hr>

      <div> {{#with header}}
            <div> <h1> {{title}}</h1></div>
            <div><q>{{description}}</q></div>
            <br>
            <a href="https://github.com/" class="btn btn-primary">Learn More</a>
       {{/with}}
      </div>
      <br>
      <br>
    <hr>
     
        <div> {{#with city}}
          <div><h2> {{title}}</h2></div>
          <section class="col-12"> 
          <div class="row col-10 g-3">
          {{#each cards}}
             
              <div class="col-5"> 
                <div class="card">
                  <div class="card-body">
              

                  <div> {{#with picture}}
                  <div> <img class="card-img-top" src="https://picsum.photos/400/200">  
                  {{alt}}</div>
                  {{/with}}  
                   </div>   
                  <div><h4> {{title}}</h4></div>
                  <div>{{description}}</div>
                  <div>{{#with button}}
                  <div class="btn btn-primary" href="{{href}}"> {{text}}</div>
                  {{/with}}
              </div>
              </div>
             </div>
            </div>
          {{/each}} {{!-- cards --}}   
         </div>
         </section>
        {{/with}}
        </div>
    <br>
    <br>
    <hr>
    
        <section class="col-7">

            <div>{{#with winner}}
              <div><h2>{{title}}</h2></div>
              <table class="table table-striped table-bordereddiv">{{#with table}} 
                    <thead>{{#each  head}}
                            <th>{{this}}</th>
                                {{/each}}
                    </thead>
                    <tbody>{{#each user}}
                          <tr> 
                              <th>{{place}}</th>
                              <td>{{name}}</td>
                              <td>{{surname}}</td>
                              <td>{{nickname}}</td>
                          </tr>
                     {{/each}}     
                  </tbody>
                {{/with}}
              </table>        
            {{/with}} 
            </div>
        </section>      

      <hr>
        <div> {{#with gallery}}
          <div><h2>{{title}}</h2></div>     
            <div class="row">
            {{#each cards}}
                      
                  <div class="col-4 gy-5"> 
                      <div class="card"> 
                        
                          <div class="card-header">{{name}}</div>
                          <div class="card-body">{{#each items}}
                            <div>{{this}}</div>
                            {{/each}}
                          </div>                      
                      </div>
                  </div>
                  {{/each}}
            </div>
        </div>     
        {{/with}}
        </div>
       <hr>
       <br>
       <br>
      <div>{{#with relaxion}}
      <div class="display-3">{{title}}</div>         
         
         <div class="row">
          {{#each cards}}
             <div class="col-5 gy-5 ">
                 <div class="card text-bg-secondary">
                  <div class="card-header">{{header}}</div>
                  <div> <h5> {{title}}</h5></div>
                  <div><q>{{description}}</q></div>

                 </div>
             </div>
          {{/each}}
         </div>
        {{/with}}
      </div>
         <br>
         <br>
         <hr>
         <br>

<div>{{#with rest}}
           
         <div class="row">
          {{#each cards}}
             <div class="col-6 gy-3">
                 <div class="card">
                  <div class="card-header text-center">{{header}}</div>
                  <div class="text-center"> <h5> {{title}}</h5></div>
                  <div class="text-center"><q>{{description}}</q></div>
                  <br>
                  <div class="text-center"> <button class="btn btn-primary">{{button}} </button></div>
                  <br>
                  <div class="card-footer text-center">{{footer}}</div>

                 </div>
             </div>
          {{/each}}
         </div>
        {{/with}}
      </div>
      
      <br>
      <br>
      <hr>
      <br>
      
      <div>{{#with proposition}}
        
      <div class="display-2">{{title}}</div>         
         <br>
         <div class="row">
          {{#each card}}
             <div class="col-5 gy-2 ">
                 <div class="card text-bg-warning">
                  <div class="card-header">{{header}}</div>
                  <div> <h5> {{title}}</h5></div>
                  <div><q>{{description}}</q></div>

                 </div>
             </div>
          {{/each}}
         </div>
        {{/with}}
      </div>
         
        
         <br>
         <br>      
         <br>
         <hr>
        
        <div>{{#with footer}}
        <div class="display-5">{{title}}</div>  
        <br>
          <div class="row"> 
             
                <div class="col-3">  {{#each navigation}}
                    <p><a class="btn btn-link" href="{{href}}"> {{text}} </a> </p> 
                {{/each}}
                 
                </div>   
                 
                
                <div class="col-3">   {{#each socialMedia}}
                       
                       <p><a class="btn btn-outline-dark" href="{{link}}"> {{name}} </a> </p> 
                {{/each}}
                 
                </div>   
                <br>
   
                <div class="col-3">   {{#each partners}}
                      <p><a class="btn btn-outline-info" href="{{link}}"> {{name}} </a> </p>
                {{/each}}
                 
                </div>   
                <br>
          
          </div>
        {{/with}}
        </div>
        <br> 
      <hr>
      
                                     
  </div>
</main>